body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    width: 100%;
    height: 220px;
    padding-top: 20px;
    text-align: center;
    background: url("img/estrellas.gif");
    background-blend-mode: soft-light;
    background-size: 40%;
    background-position: center;
    box-sizing: border-box;
}

.banner h1 {
    color: #f1f1f1;
    font-size: 80px;
    margin-top: 30px;
    font-family: "Pixelify Sans";
}

.container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 4;
}

.logo {
    width: 100px;
    margin: 0;
}

.logo img {
    width: 100%;
}

.footer .logo {
    width: 200px;
}

.item-options {
    color: #f1f1f1;
    margin: 0 1.5rem;
    text-decoration: none;
}

a {
    color: white;
    transition: color 0.5s;
}

a:hover {
    color: rgb(0, 255, 128);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: auto;
    /* Para colocar el footer al final de la página */
    width: 100%;
    /* Para que el footer ocupe todo el ancho */
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px #77758b;
    border-radius: 10px;

}

.row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}
.container__cards{
    max-width: 1200px;
    margin: auto;
    /* margin-top: 100px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    max-width: 300px;
    margin: 10px;
    transition: all 300ms;
    display: flex;
    flex-direction: column;
}

.card:hover{
    max-width: 350px;
}

.card .cover{
    width: 100%;
    height: 334px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.card:hover .cover img{
    top: 0px;
    filter: none;
}

.card .img__back{
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:nth-of-type(1) .img__back{
    background-image: url('img/fondoespaciomarta.avif');
}

.card:nth-of-type(2) .img__back{
    background-image: url('img/fondoespaciojessica.avif');
}

.card:nth-of-type(3) .img__back{
    background-image: url('img/fotoespacioruth.avif');
}

.card:hover .img__back{
    bottom: -40px;
}

.card .description{
    background: #04163d7d;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
    margin-top: 10px;
    flex-grow: 1;
    max-width: 260px;
}

.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover{
    background: #83277b;
}


.image img {
    max-width: 450px;
    height: 300px;
    border-radius: 15px;
}

.text {
    max-width: 40%;
}

.nave-espacial {
    width: 100px;
    height: 100px;
    background-image: url('img/onvi.png');
    background-size: cover;
    position: absolute;
    left: -100px;
    top: 30px;
    transform: translateY(-50%);
    animation: deslizar-nave 5s linear forwards;
}


@keyframes deslizar-nave {

    0%,
    30% {
        left: -100px;
    }

    30%,
    40% {
        left: calc(50% - 50px);
    }

    40%,
    45% {
        top: 150px;
    }

    45%,
    50% {
        top: 40px;
    }

    50%,
    100% {
        left: calc(100% + 100px);
        display: none;
    }
}

h2 {
    scroll-margin-top: 40px;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-image: url('img/fondoestrelladolargo2.jpg');
    /* background-repeat: no-repeat; */
    background-size: contain;
}


.juegos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #0000008a;
    border-radius: 24px;
}

.juegos>div {
    margin-bottom: 75px;
    margin-top: 50px;
}

.juegos>div a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.primera_imagen {
    background-image: url('img/space-invaders.png');
    border-radius: 3px;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.primera_imagen:hover {
    background-image: url('img/space-invaders.gif');
}


.segunda_imagen {
    background-image: url('img/nomanssky.png');
    border-radius: 3px;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.segunda_imagen:hover {
    background-image: url('img/nomanssky.gif');
}

.tercera_imagen {
    background-image: url('img/stellaris.png');
    border-radius: 3px;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tercera_imagen:hover {
    background-image: url('img/stellaris.gif');
}

.cuarta_imagen {
    background-image: url('img/alien_isolation.png');
    border-radius: 3px;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cuarta_imagen:hover {
    background-image: url('img/alien_isolation.gif');
}

div.estrellas {
    display: flex;
    justify-content: center;
}

.estrellaDorada {
    color: rgb(233 202 36);
}

.estrellaGris {
    color: rgb(77, 77, 77);
}

.juegos a {
    margin-top: 210px;
    display: block;
    text-align: center;
}

main {
    width: 90%;
    max-width: 1240px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-top: 72px;
    margin-bottom: 48px;
    font-size: 32px;
    color: rgb(255 238 148);
}

.accordion {
    margin-bottom: 24px;
}

.accordion-container {
    margin: 0 auto;
    border: 3px solid rgb(233 202 36);
    border-radius: 24px;
    overflow: hidden;
}


.accordion-item {
    width: 100%;
}

.accordion-trigger {
    width: 100%;
    display: block;
    background-color: rgb(17 16 49 / 51%);
    color: rgb(233 202 36);
    padding: 24px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    text-align: left;
    border: none;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    cursor: pointer;
}

.accordion-icon {
    transition: transform 0.5s;
}

.accordion-item[open] .accordion-icon {
    transform: rotate(45deg);
}

.accordion-item:not(:first-of-type) .accordion-trigger {
    border-top: 3px solid rgb(233 202 36);
}

.accordion-content p {
    margin: 24px;
    color: white;
}

.accordion-title h4 {
    font-weight: normal;
    margin: 0;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222b38;
    color: white;
}

footer a {
    color: inherit;
    text-decoration: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 28px;

}

.form div {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.form div>*:nth-child(2) {
    flex-grow: 1;
}

.form input, .form select {
    border-radius: 5px;
    background-color: #07103f52;
    height: 27px;
    /* border: 2px solid rgb(233 202 36); */
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

.form input.boton {
    border-radius: 6px;
    color: white;
    background-color: rgba(0, 0, 0, 0.459);
}

.form input[type="file" i] {
    height: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #0000008a;
    border-radius: 24px;
    color: white;
}

.main-content h4 {
    color: rgb(233 202 36);
}

.inicio_sesion div {
    margin-bottom: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}

.image {
    max-width: 100%;
    height: auto;
}

.text {
    max-width: 40%;
}

label {
    font-weight: bold;
    width: 130px;
    float: left;

}

.cookies-box {
    z-index: 100;
    position: fixed;
    bottom: 0;
    background: rgb(51, 51, 51);
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: -2px 0 15px 0px rgba(0, 0, 0, .5);
}

.cookies-box .container-cookies {
    padding: 20px 0;
    max-width: 90%;
    display: flex;
    align-items: center;
}

.cookies-box .container-cookies .parrafo p {
    color: #fff;

}

.cookies-box .container-cookies .parrafo a {
    color: #ccc;

}

.cookies-box .container-cookies .botones button {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px, 10px;
    margin-bottom: 6px;
    border-radius: 30px;
    transition: all 200ms ease-in;
}

.cookies-box .container-cookies .botones {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.cookies-box .container-cookies .botones button:hover {
    color: #dc143c;
    border: 2px solid #dc143c;
}

.cookies-box .container-cookies .botones {
    margin-top: 5px;
}


.cookies-box label>button {
    pointer-events: none;
    user-select: none;
}

.container-cookies {
    display: none !important;
}

#cookiesCheckbox {
    display: none;
}

#cookiesCheckbox:checked~.container-cookies {
    display: flex !important;
}

/* indice */

.indice {
    background-color: rgb(17 16 49 / 51%);
    border: 3px solid rgb(233 202 36);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 400px;
    margin: auto;
    /* Cambiado a 'left' para alinear el texto de la lista a la izquierda */
}

.indice a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.indice a:hover {
    text-decoration: underline;
}

.indice ul {
    margin-top: 0;
    margin-bottom: 0;
}

.indice li::marker {
    color: rgb(233 202 36);
}


/* footer */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

/*
.redes_sociales {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.redes_sociales img {
    width: 30px;
} */
/* logo */
.logo img {
    justify-content: left;
}

.redes_sociales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Para centrar los elementos horizontalmente */
    width: 100%;
    max-width: 400px;
  }

.redes_sociales a {
    text-align: center;
    /* Para centrar el texto debajo de las imágenes */
    margin: 5px;
    /* Espacio entre los elementos */
    flex: 0 0 calc(33.33% - 20px);
    /* Calcula el ancho de cada elemento (1/3 del contenedor) con margen */
    max-width: calc(33.33% - 20px);
    /* Limita el ancho máximo de cada elemento */
}

.redes_sociales img {
    display: block;
    /* Para evitar espacios innecesarios debajo de las imágenes */
    margin: 0 auto;
    /* Para centrar las imágenes horizontalmente */
    width: 35px;
    /* Ajusta el tamaño máximo de las imágenes al ancho del contenedor */
}

footer .copyright {
    background-color: #000;
    color: white;
    margin: 0;
}

footer .copyright p {
    margin: 0;
    padding: 10px;
}

.boton-inicio-sesion {
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    border-radius: 7px;
    padding: 5px;
}

details[open] summary~* {
    animation: sweep .5s ease-in-out;
}

.imagen_grande {
    display: block;
}

.imagen_pequena {
    display: none;
}

.imagen_pequena img {
    display: block;
    margin: auto;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: -10px
    }

    100% {
        opacity: 1;
        margin-left: 0px
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        gap: 50px;
    }
    .redes_sociales a {
        width: calc(33.33% - 50px);
      }
    .imagen_grande {
        display: none;
    }
    
    .imagen_pequena {
        display: block;
    }
    .text {
        max-width: 100%;
    }
    .form div {
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
      }
    
      .item-options {
        margin: 0 0.5rem;
      }
}