* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-image: url('img/fondoestrelladolargo2.jpg');
    background-size: contain;
    width: 100%;
    overflow-x: hidden;
}

p {
    color: white;
    margin-bottom: 15px;
}

h1,
h2 {
    color: rgb(255 238 148);
    margin-bottom: 10px;
}

header,
footer,
.section h2 {
    text-align: center;
}

video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.section {
    background-color: rgb(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px #77758b;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 960px;
    border-radius: 20px;
}

section ul {
    text-align: left;
    padding-left: 20px;
}

section li p {
    text-align: left;
}

.section img {
    width: 100%;

}

.section-texto {
    background-color: #0062f538;
    box-shadow: 0px 0px 10px 0px #77758b;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 960px;
    border-radius: 20px;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.carousel a {
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

#slide1:target~.carousel-images {
    transform: translateX(0%);
}

#slide2:target~.carousel-images {
    transform: translateX(-33.33%);
}

#slide3:target~.carousel-images {
    transform: translateX(-66.66%);
}


#kiko-slider {
    font-family: sans-serif;
    margin: auto;
    max-width: 800px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

#kiko-slider>ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#kiko-slider>ul.slider {
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 600px;
}

#kiko-slider>ul.slider h1 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
}

#kiko-slider>ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

#kiko-slider>ul.slider li img {
    width: 100%;
    height: 600px;
    object-fit: contain;
}

#kiko-slider>ul.slider li:first-child {
    opacity: 1;
}

#kiko-slider>ul.slider li:target {
    opacity: 1;
}

#kiko-slider>.menu {
    text-align: center;
    margin: 20px;
}

#kiko-slider>.menu li {
    display: inline-block;
    text-align: center;
}

#kiko-slider>.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 5px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: 100%;
    vertical-align: middle;
    text-align: center;
}

.accordion-item .accordion-trigger span.accordion-title {
    color: white;
    text-align: left;
}

.accordion-item .accordion-trigger span.accordion-icon {
    color: white;
}

.download-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #917c14;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #0056b3;
}

/* onvi */
.banner {
    width: 100%;
    height: 220px;
    padding-top: 20px;
    text-align: center;
    background: url("img/estrellas.gif");
    background-blend-mode: soft-light;
    background-size: 40%;
    background-position: center;
    box-sizing: border-box;
}

.banner h1 {
    color: #f1f1f1;
    font-size: 80px;
    margin-top: 30px;
    font-family: "Pixelify Sans";
}

.container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    width: 100px;
    margin: 0;
}

.logo img {
    width: 100%;
}

.item-options {
    color: #f1f1f1;
    margin: 0 1.5rem;
    text-decoration: none;
}

a {
    color: white;
    transition: color 0.5s;
}

a:hover {
    color: rgb(0, 255, 128);
}

.nave-espacial {
    width: 100px;
    height: 100px;
    background-image: url('img/onvi.png');
    background-size: cover;
    position: absolute;
    left: -100px;
    top: 30px;
    transform: translateY(-50%);
    animation: deslizar-nave 5s linear forwards;
}


@keyframes deslizar-nave {

    0%,
    30% {
        left: -100px;
    }

    30%,
    40% {
        left: calc(50% - 50px);
    }

    40%,
    45% {
        top: 150px;
    }

    45%,
    50% {
        top: 40px;
    }

    50%,
    100% {
        left: calc(100% + 100px);
        display: none;
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222b38;
    color: white;
}

footer a {
    color: inherit;
    text-decoration: none;
}

.logo img {
    justify-content: left;
}

.redes_sociales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
}

.redes_sociales a {
    text-align: center;
    margin: 5px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
}

.redes_sociales img {
    display: block;
    margin: 0 auto;
    width: 35px;
}

footer .copyright {
    background-color: #000;
    color: white;
    margin: 0;
}

footer .copyright p {
    margin: 0;
    padding: 10px;
}

.inicio_sesion div {
    margin-bottom: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}

.image {
    max-width: 100%;
    height: auto;
}

.text {
    max-width: 40%;
}

label {
    font-weight: bold;
    width: 130px;
    float: left;

}

.boton {
    border-radius: 6px;
    color: white;
    background-color: rgba(0, 0, 0, 0.459);
}


/* cookies */
.cookies-box {
    position: fixed;
    bottom: 0;
    background: rgb(51, 51, 51);
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: -2px 0 15px 0px rgba(0, 0, 0, .5);
}

.cookies-box .container-cookies {
    padding: 20px 0;
    max-width: 90%;
    display: flex;
    align-items: center;
}

.cookies-box .container-cookies .parrafo p {
    color: #fff;

}

.cookies-box .container-cookies .parrafo a {
    color: #ccc;

}

.cookies-box .container-cookies .botones button {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px, 10px;
    margin-bottom: 6px;
    border-radius: 30px;
    transition: all 200ms ease-in;
}

.cookies-box .container-cookies .botones {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.cookies-box .container-cookies .botones button:hover {
    color: #dc143c;
    border: 2px solid #dc143c;
}

.cookies-box .container-cookies .botones {
    margin-top: 5px;
}


.cookies-box label>button {
    pointer-events: none;
    user-select: none;
}

.container-cookies {
    display: none !important;
}

#cookiesCheckbox {
    display: none;
}

#cookiesCheckbox:checked~.container-cookies {
    display: flex !important;
}

/* logo */
.logo img {
    justify-content: left;
}

.redes_sociales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 400px;
}

.redes_sociales a {
    text-align: center;
    margin: 5px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
}

.redes_sociales img {
    display: block;
    margin: 0 auto;
    width: 35px;
}

footer .copyright {
    background-color: #000;
    color: white;
    margin: 0;
}

footer .copyright p {
    margin: 0;
    padding: 10px;
}

.boton-inicio-sesion {
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    border-radius: 7px;
    padding: 5px;
}

#section1 {
    display: flex;
    max-width: unset;
    width: 100%;
}
#section1>div {
    width: 0;
    flex-grow: 1;
}
#section1>section {
    max-width: 500px;
    margin-left: 50px;
}

#section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        gap: 50px;
    }

    .redes_sociales a {
        width: calc(33.33% - 50px);
    }
    
      #section1 {
        flex-direction: column;
      }
      #section1>div {
        width: unset;
      }
      nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
      }
    
      .item-options {
        margin: 0 0.5rem;
      }
      #section1>section{
        margin-left: auto;
      }
      #kiko-slider>ul.slider li img, #kiko-slider>ul.slider{
        height: 300px;
      }
}